<% title "Product" %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Detail:</strong>
  <%= @product.detail %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <%= link_to "View All", products_path %>
</p>
